{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Séries Netflix</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/blog2.css' %}">
    <link rel="stylesheet" href="{% static 'css/form-icon.css' %}">

  </head>
  <body>
    <div class="topo" >
      <div class="row-topo" >

        <h1><a href="#">Netflix</a></h1>
        <a href="{% url 'post_new' %}" class="top-menu"><i class="fas fa-plus-square"></i></a>
      </div>
        <h4 class="subtitulo" >melhores séries</h4>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
  </body>
</html>
