*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';



}
body{
  background-color: #141414;
}
.row-topo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.topo{
  height: 150px;
  background-color: black;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
}
.topo h1 a{
  text-decoration: none;
  color: red;
}
.topo h1{
  font-size: 80px;
  text-align: left;
  width: auto;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 800;
}
.subtitulo {
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 700;
  color: white;
}

.titulo-post a{
  text-decoration: none;
  color: red;
}
.titulo-post{
  font-size: 25px;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 700;
  color: white;
  padding-left: 10px;
}
.post{
  font-size: 20px;
  text-align: justify;
  text-transform: none;
  font-family: 'Montserrat';
  font-weight: 400;
  color: white;
  padding: 10px 30px;
}
.data{
  font-size: 13px;
  text-align: left;
  text-transform: capitalize;
  font-family: 'Montserrat';
  font-weight: 400;
  color: white;
  padding: 10px;
}
.corpo-post{
  background-color: #141414;
}

.top-menu {
  color: white;
  font-size: 30px;
  margin-right: 0.7em;
  margin-top: 1em;
}
.btn-edit{
  color: white;
  font-size: 30px;
}
.btn-form{
  color: red;
  background: black;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  padding: 0.5em;
  border: none;
  border-radius: 10px;
  margin-top: 1em;
  text-transform: uppercase;
}
.post-form{
  width: 500px;
  margin: auto;
}
.new-post-title{
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 700;
  color: white;
}
input{
  width: 100%;
  font-size: 20px;
  padding: 0.5em;
}
textarea{
  width: 100%;
  font-size: 20px;
  padding: 0.5em;
  text-align: justify;
}
